[Unit]
Description=DRBD-Reactor Service
Requires=network-online.target
After=network-online.target

[Service]
Type=notify
ExecStart=/usr/sbin/drbd-reactor
ExecReload=kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
