Source: drbd-reactor
Maintainer: LINBIT HA Solutions GmbH <drbd-dev@lists.linbit.com>
Uploaders: Roland Kammerer <roland.kammerer@linbit.com>
Section: admin
Priority: optional
# don't set a minimal rustc version "yet", we do some trickery in our internal build system
# if required, set it in the branches for the PPA for example
Build-Depends: debhelper (>= 9),
               cargo,
               rustc,
               bash-completion,
Standards-Version: 3.9.6

Package: drbd-reactor
Architecture: any
Depends: drbd-utils (>= 9.29.0),
         ${shlibs:Depends},
Description: Monitors DRBD resources via plugins.
 Daemon monitoring the state of DRBD resources, and executing plugins
 acting on state changes.
 .
 Plugins can for example monitor resources or promote DRBD resources.
